<%= simple_form_for @profile do |f| %>

	<% if @profile.errors.any? %>
		<h2 id="form-group"><%= pluralize(@profile.errors.count, "error")%> prevented this Photo from saving</h2>
		<ul>
			<% @profile.errors.each do | msg | %>
			<li><%= msg %> </li>
			<% end %>
		</ul>
	<% end %>

	<%= f.input :bio, input_html: { class: 'form-control'} %>
	<%= f.button :submit, value: "Update Bio", class: 'btn btn-info'%>
<% end %>

	<section class="main">

			<label>Featured Profile Photos</label>
	
			<% @profile.photos.each do |photo| %>
				<div class="<%= 'featured' if photo.featured? %>">
					<div class="view">
						<%= form_for ([@profile, photo]) do |f| %>
							<%= f.check_box :featured_status, :class => "toggle", :checked => (true if photo.featured?) %>
							<%= f.submit %>
							<% end %>
							<label><%= photo.myPhoto %></label>
					</div>
				</div>
				<% end %>
		
	</section>
