<div class="page-header">
  <h3><%= @profile.user.username %><br>    

    <% if current_user.profile == @profile %>
        <button type="button" class="btn btn-secondary btn-xs"><%= link_to "Edit Bio", edit_profile_path %></button>
    <% end %>

      <button type="button" class="btn btn-secondary btn-xs js-get-photos" data-id="<%=@profile.id%>">All Photos</button><br />
      <small class="bio-text"><%= @profile.bio %></small><br>

  </h3>
</div>

<div class="photos-sorted-by-comment photos"></div>

<div class="col-md-12">
  <div class="rtl transitions-enabled photos">

    <div id="all-photos-div"></div>

    <div id='featured-photos'>
      <h5>Featured Photos</h5>
      <% @photos.each do |photo| %>
        <% if photo.featured? %>
          <div class="box panel panel-default">
            <%= link_to (image_tag photo.image.url), profile_photo_path(photo.user.profile.id, photo) %>
            <h2><%= link_to photo.title, photo %></h2>
            <p><%= photo_date(photo) %></p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>


