<%= simple_form_for@photo do |f| %>
	<% if @photo.errors.any? %>
		<h2 id="form-group"><%= pluralize(@photo.errors.count, "error")%> prevented this Photo from saving</h2>
		<ul>
			<% @photo.errors.each do | msg | %>
			<li><%= msg %> </li>
			<% end %>
		</ul>
	<% end %>
	<%= f.input :image, as: :file, input_html: { class: 'form-control'} %>
	<%= f.input :title, input_html: { class: 'form-control'} %>
	<%= f.input :description, input_html: { class: 'form-control'} %>
	<%= f.button :submit, class: 'btn btn-info'%>
<% end %>