<div id=photo_show class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel heading photo_image">
        <%= image_tag @photo.image.url, :class => "photoImage" %>
      </div>

      <div class="panel-body">
        <h1 class="photoTitle"><%= @photo.title %></h1>
        <p class="photoDescription"><%= @photo.description %></p>
        <p class="photoDate">Created <%= photo_date(@photo) %></p>
      </div>

      <div class="panel-footer">
        <div class="row">

          <div class="col-md-6">
            <p>by <%= link_to @photo.user.email, profile_path(@photo.user.profile), :class => "photoUserEmail" %></p>
            <p><%= link_to "#{@photo.comments.count} Comments", photo_comments_path(@photo), :class => "photoComments" %></p>
          </div>

          <div class="col-md-6">
            <div class="btn-group pull-right">
              <% if user_signed_in? && current_user.photos.include?(@photo) %>
                <%= link_to "Edit", edit_photo_path, class: "btn btn-info" %>
                <%= link_to "Delete", photo_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<button type="button" class="btn btn-warning"><a href="#" class="js-previous jsb" data-id="<%=@photo.id%>">Previous</a></button>
<button type="button" class="btn btn-warning pull-right"><a href="#" class="js-next jsb">Next</a></button>




